<div class="container-fluid bg-dark" id="contact-section">
  <div class="container text-muted">
    <div class="row p-5">
      <div class="col-md-4">
        <p class="h4">地址</p>
        <p class="text-white">新北市淡水區真理街32號</p>
        <p class="h4">聯絡方式</p>
        <p class="text-white">
          Email: support@au.edu.tw <br/> 電話：02-26212121#1234 <br/>
          <a class="text-warning" href="https://www.facebook.com/AUMH1875/">臉書粉絲專頁</a>
        </p>
      </div>
      <div class="col-md-3">
        <p class="h4">連結</p>
        <ul>
          <li class="mt-2"> <a class="text-warning" href="http://www.au.edu.tw">真理大學</a></li>
          <li class="mt-2"> <a class="text-warning" href="http://www.au.edu.tw">牛津學堂</a></li>
          <li class="mt-2"> <a class="text-warning" href="http://www.au.edu.tw">領事館咖啡</a></li>
        </ul>
      </div>
      <div class="col-md-5">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>
